@use "variables" as vars;
@use "mixins";
@use "mediaquery";

:root {
  font-family: vars.$font;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  @include mixins.flex;
  color: vars.$text-color;
  background-color: vars.$background-color;
}

button {
  outline: none;
  border: none;
}
