@use "variables";

:root {
    font-family: variables.$font;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$primary-color;
    background-color: variables.$secondary-color;
}