@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap");
$font: "Orbitron", sans-serif;
$text-color: #e9ecef;
$background-color: #2a2e34;
$card-background: #343a40;
$card-shadow: #121417;
$button-color: #e9ecef;
$padding: 0 24px 0 24px;
