@use "mixins";
@use "variables";

.controls {
  // Parent grid
  align-self: start;
  justify-self: center;
  // Grid
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: variables.$padding;
  row-gap: 16px;
  width: 100%;
  

  .buttons {
    // Parent grid
    grid-column: 1 / 3;
    //Grid
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}
