@use "mixins";
@use "variables";

.controls {
  // Parent grid
  align-self: start;
  // Grid
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: variables.$padding;
  
  .button {
    grid-column: 1/3;
  }
}
