@use "mixins";
@use "variables" as vars;

.stepper {
  width: min-content;

  .control {
    @include mixins.flex($gap: 16px);

    .value {
      font-size: 40px;
    }

    .icon {
      @include mixins.flex;
      width: 40px;
      height: 40px;
      font-size: 20px;
      border-radius: 20px;
      color: vars.$primary-color;
      background: none;
      border: none;

      @include mixins.interactiveButton(
        darken(vars.$primary-color, 20%),
        vars.$secondary-color
      );
    }
  }

  .label {
    text-align: center;
  }
}
