@use "mixins";
@use "variables" as vars;

.stepper {
  width: 124px;
  .control {
    @include mixins.flex($justify: space-between);
    width: 100%;
    margin: 8px 0 4px 0;

    .value {
      font-size: 1.5rem;
    }

    .icon {
      @include mixins.flex;
      width: 40px;
      height: 40px;
      font-size: 1.5rem;
      border-radius: 20px;
      color: vars.$text-color;
      background: none;
      border: none;

      @include mixins.interactiveButton(
        darken(vars.$text-color, 50%),
        darken(vars.$background-color, 3%)
      );
    }
  }

  .label,
  .units {
    text-align: center;
  }

  .label {
    font-size: 1rem;
    letter-spacing: 4px;
  }

  .units {
    font-size: 0.75rem;
    letter-spacing: 2px;
  }
}
